<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {#<link href="{{ asset('bundles/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all"/>#}
        {#<link href="{{ asset('bundles/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>#}
        {#<link href="{{ asset('bundles/dist/css/bootstrap-theme.css') }}" rel="stylesheet" type="text/css" media="all">#}

        <link href="{{ asset('bundles/dist1/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ asset('bundles/dist1/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ asset('bundles/dist1/css/style.css') }}" rel="stylesheet" type="text/css" media="all">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>

        {#<link href="{{ asset('bundles/theme/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all">#}
        {#<link href="{{ asset('bundles/theme/css/cm-overlay.css') }}" rel="stylesheet" type="text/css" media="all">#}
        {#<link href="{{ asset('bundles/theme/css/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all">#}
        {#<link href="{{ asset('bundles/theme/css/style.css') }}" rel="stylesheet" type="text/css" media="all">all#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{#{% block menubar %}#}
{#<header class="top-header">#}
    <div class="container">
        <div class="row">
            <div class="col-xs-3 header-logo">
                <br>
                <a><img src="{{ asset('bundles/dist1/img/logo.png') }}" alt="" class="img-responsive logo"></a>
            </div>

            <div class="col-md-9">
                <nav class="navbar navbar-default">
                    <div class="container-fluid nav-bar">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="menu active" href="{{ path('home') }}">Home</a></li>
                                <li><a class="menu" href="{{ path('new_questions')}}">Assess</a></li>
                                <li><a class="menu" href="{{ path('recommendations')  }}">Techniques </a></li>
                                <li><a class="menu" href="{{ path('documents') }}">Documents</a></li>
                                <li><a class="menu" href="{{ path('materials') }}"> Training materials</a></li>
                                <li><a class="menu" href="{{ path('help') }}"> Help</a></li>
                            </ul>
                        </div><!-- /navbar-collapse -->
                    </div><!-- / .container-fluid -->
                </nav>
            </div>
        </div>
    </div>
{#</header> <!-- end of header area -->#}
{#{% endblock %}#}

{#<div class="container">#}
    {% block body %}{% endblock %}
{#</div>#}


{#<section class="contact">#}

{#</section><!-- end of contact section -->#}

<footer class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 footer-para">
                <p>Educational purpose only. Not for commercial use!</p>
            </div>
            <div class="col-xs-6 text-right">
                <a href="https://www.facebook.com/nishan.madusankakarunarathna"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dist/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('bundles/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/dist/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/jquery-1.11.1.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/bootstrap.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/responsiveslides.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/jquery.tools.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/jquery.mobile.custom.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/jquery.cm-overlay.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/jarallax.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/SmoothScroll.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/move-top.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/theme/js/easing.js') }}"></script>#}

    <script type="text/javascript" src="{{ asset('bundles/dist1/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dist1/js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dist1/js/gmaps.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dist1/js/html5shiv.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dist1/js/jquery-2.1.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dist1/js/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dist1/js/respond.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dist1/js/smoothscroll.js') }}"></script>

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                manualControls: '#slider3-pager',
            });
        });
    </script>
    <!-- //For-Banner -->

    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- here starts scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */

            $().UItoTop({easingType: 'easeOutQuart'});

        });
    </script>

    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>


    <!-- /ends-smoth-scrolling -->
    <!-- //here ends scrolling icon -->

{% endblock %}
</body>
</html>
