{% extends 'base.html.twig' %}

{% block navBar %}
    <li><a class="menu" href="{{ path('home') }}">Home</a></li>
    <li><a class="menu" href="{{ path('new_questions')}}">Assess</a></li>
    <li><a class="menu" href="{{ path('documents') }}">Specifications</a></li>
    <li><a class="menu" href="{{ path('materials') }}"> Training materials</a></li>
    <li><a class="menu" href="{{ path('worker_assessment') }}">Worker assessment</a></li>
    <li><a class="menu" href="{{ path('bim')  }}">BIM </a></li>
    <li><a class="menu" href="{{ path('safety') }}">Safety</a></li>
    <li><a class="menu active" href="{{ path('help') }}"> Help</a></li>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="font-family: Arial, Helvetica, sans-serif;font-size:12px;">
                </a><br>
                </a><br>
                <h1 style="color: blue;">Please follow these instructions to easy use</h1><br>
                <h3 style="color: blue;">Objective of the web page.....</h3>
                <h4 style="color: black;">This web page is to be used by project managers, Top decision makers, Engineers to assess the current productivity issues from the pre planning stage up to the project’s completion and to get solutions and enhance the worker's productivity level of the construction sites</h4><br>
                <h3 style="color: blue;">Assess</h3>
                <h4 style="color: black;">The questionnaire was developed through a research on "Evaluating the factors affecting worker's productivity in Sri Lanka". Select the most suitable answer based on your construction site.Make sure to answer all the questions. After you submit it will be assesed the productivity and provide a percentage. Below the percentage it will be displayed the low performance factors in your site and by clicking on the factor it can be seen the suggestions and recommondations to relavant factor</h4>
                <h3 style="color: blue;">Techniques</h3>
                <h4 style="color: black;">This shows all the recommondations and suggestions for the identified factors that affect the construction worker's productivity most. There are recommended sources to guide you to make solutions for the factor</h4><br>
                <h3 style="color: blue;">Documents</h3>
                <h4 style="color: black;">It  is very important to have correct construction methods in the construction to minimize the errors. Method statements and ICTAD Documents can be refered.</h4><br>
                <h3 style="color: blue;">Training materials</h3>
                <h4 style="color: black;">The construction workers should be well trained to have a higher productivity. Using the sources provided under this will make the job easy to provide a good training to the workers. </h4><br>









            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}