{% extends 'base.html.twig' %}

{% block navBar %}
    <li><a class="menu" href="{{ path('home') }}">Home</a></li>
    <li><a class="menu" href="{{ path('new_questions')}}">Assess</a></li>
    <li><a class="menu" href="{{ path('documents') }}">Specifications</a></li>
    <li><a class="menu active" href="{{ path('materials') }}"> Training materials</a></li>
    <li><a class="menu" href="{{ path('worker_assessment') }}">Worker assessment</a></li>
    <li><a class="menu" href="{{ path('bim')  }}">BIM </a></li>
    <li><a class="menu" href="{{ path('safety') }}">Safety</a></li>
    <li><a class="menu" href="{{ path('help') }}"> Help</a></li>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="font-family: Arial, Helvetica, sans-serif;font-size:12px;">
                </a><br>
                </a><br>
                <h1>Training Materials</h1><br>
                <h2>Construction Works</h2>
                <h3>1.Brickwork & Block work</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeLWlGcUwxb2RSWGM">1.1-Building With Bricks or Blocks</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeQ184TUNHY2VOalE">1.2-Fixing Door & Window Frames</a><br>
                <h3>2.Concreting</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeWjNYNjFwOVZfXzA">2.1-Compaction of Concrete</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeaTRQbkxKcFF1b1U">2.2-Cover to Reinforcement</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeaEJxb21lZ09TOFk">2.3-Curing</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeb3M2emhwN2h5VGs">2.4-Effect of Water on Concrete</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeN3RuR1dtbzBFVGc">2.5-Finishing of Concrete</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeU2x4M2toekdtdzA">2.6-Manual Concrete Mixing</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeV25GV1kxeGpKakk">2.7-Mixing of Concrete by Mixer</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeWG9SdWR4M29NRWM">2.8-Placing of Concrete</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeQlhTR2pISjdHM2c">2.9-Plinth Beam</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeRDRNRTN1YlRoVkU">2.10-Prevention Of Plastic Shrinkage Cracks</a><br>
                <h3>3.Formwork</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeeWszWkFkOWZiQVk">3.1-Column Shuttering</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVec0R4STE4b1hkN1k">3.2-Formwork</a><br>
                <h3>4.Foundation</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMGc3Z05XRTk1cm8">4.1-Excavation in Gravely Soils</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeQldBYWRBOHQ1aXc">4.2-RCC Footing</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeSVJxYUI5TFpIa00">4.3-Stone Masonry Footing</a><br>
                <h3>5.Painting</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeSVE3c2tSOGRrYlU">5.1-Painting</a><br>
                <h3>6.Piling</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeRUVhLXYzaGtiM3M">6.1-Concealed Piping.</a><br>
                <h3>7.Plastering</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVedDYtY3c4UEVOdUk">7.1-Plastering in Easy Step</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeSVVwNWxybEs1Nkk">7.2-Problems In Plastering</a><br>
                <h3>8.Rebaring</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeWmZSbnlLT2RodVU">8.1-Detailing of Reinforcement</a><br>
                <h3>9.Tiling</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeTWwxQXRnX1FKRU0">9.1-Fixing Of Wall Tiles</a><br>
                <h3>10.Water proofing</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeWmtZYVJ5VUFBYUE">10.1-Water Proofing of Concrete</a><br><br>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}