{% extends 'base.html.twig' %}

{% block navBar %}
    <li><a class="menu" href="{{ path('home') }}">Home</a></li>
    <li><a class="menu active" href="{{ path('new_questions')}}">Assess</a></li>
    <li><a class="menu" href="{{ path('documents') }}">Specifications</a></li>
    <li><a class="menu" href="{{ path('materials') }}"> Training materials</a></li>
    <li><a class="menu" href="{{ path('worker_assessment') }}">Worker assessment</a></li>
    <li><a class="menu" href="{{ path('bim')  }}">BIM </a></li>
    <li><a class="menu" href="{{ path('safety') }}">Safety</a></li>
    <li><a class="menu" href="{{ path('help') }}"> Help</a></li>
{% endblock %}

{% block body %}
    <script>
        function reply_click(clicked_id) {
            //aButtonPressed(clicked_id);
            $.ajax({
                data: 'orderid=' + clicked_id,
                url: '{{ path('all_recommendations') }}',
                method: 'POST', // or GET
                success: function (msg) {
                    //alert(msg);
                    console.log(msg);
                    var data = JSON.parse(msg);
                    console.log(data.code);
                    if (data.code == 100 && data.success) {//dummy check
                        //do something
                        console.log("ok");
                        console.log(data.recommendations);
                        var showDiv = document.getElementById("viewer");
                        showDiv.innerHTML = data.html;
                        console.log(data.html);
                    }
                    else {
                        console.log("no");
                    }
                }
            });
            $.ajax({
                data: 'orderid=' + clicked_id,
                url: '{{ path('resources') }}',
                method: 'POST', // or GET
                success: function (msg) {
                    //console.log(msg);
                    var data = JSON.parse(msg);
                    console.log(data.code);
                    if (data.code == 100 && data.success) {//dummy check
                        //do something
                        console.log("ok");
                        console.log(data.resources);
                        var showDiv = document.getElementById("sources");
                        showDiv.innerHTML = data.html;
                        console.log(data.html);
                    }
                    else {
                        console.log("no");
                    }
                }
            });
        }

    </script>

    <div class="container" style="font-family: Arial, Helvetica, sans-serif;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><h1 style="font-family: Arial, Helvetica, sans-serif;font-size:30px;">Relative productivity Assesment Value</h1></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2"><h1 style="font-family: Arial, Helvetica, sans-serif;font-size:80px;color: #F90C0F">{{ score }}</h1></div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            {% set scoreVal = 20 %}
            {% set widthValue = 'width:' ~ score %}
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="{{ widthValue }}" aria-valuenow="{{ score }}" aria-valuemin="0" aria-valuemax="100">{{ score }}</div>
            </div>
        </div>
        <br><br>
        <div class="row">

            <div class="col-md-7" style="height: 600px;overflow-y: scroll;">
                <div class="list-group">
                    {% for issue in issues %}
                        <a id="{{ loop.index0 }}" class="list-group-item" onClick="reply_click(this.id)">{{ issue }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5" id="viewer"  style="font-family: Arial, Helvetica, sans-serif;">
            </div>
            <div class="col-md-5" id="sources">
            </div>
        </div>
{% endblock %}